*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

nav{
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
    font-size: 1.2rem;
    font-weight: bold;
    color: chocolate;
}

nav ul{
    display: flex;
}

nav ul li{
    margin-left: 1em;
}